---
layout: base
---
- if site.posts
  .panel.panel-default
    .panel-heading
      %h4
        %i.fa.fa-comments.fa-lg
        Last news posts
    %ul.list-group
      - for post in site.posts[0..4]
        %li.list-group-item
          %article.post
            %header.header
              %h4.title
                %a{:href=>post.url}= post.title
            %p=post.excerpt || summarize(html_to_text(post.content), 50)
            .footer{:style=>"clear:both; text-align:left; padding-bottom:15px; padding-top:0px;"}
              %span.author
                Posted by
                %i.fa.fa-user
                = post.author
              %span.dateinline
                on
                %i.fa.fa-calendar
                #{post.date.strftime('%b %d, %Y')}
              %span.permalink
                |
                %i.fa.fa-link
                %a{:href=>post.url} permalink
              - if site.disqus
                %span.comments
                  |
                  %i.fa.fa-comments
                  #{post.disqus_comments_link}
                = post.disqus_comments_count
    .panel-footer
      %p{:style=>"text-align:right;"}
        %a.btn.btn-primary{ :href=>"/news/" }
          More News
          %i.fa.fa-chevron-right.fa-lg


.panel.panel-success
  .panel-heading
    %h4
      %i.fa.fa-exclamation-circle.fa-lg
      Adding Content
  .panel-body
    If you have content you want added to this site please email it to: <code>scott@dereel.com.au</code>
