---
layout: base
---

- if site.posts
  - for post in site.posts[0..2]
    %article.post
      %header.header
        %h2.title
          %a{:href=>post.url}= post.title
      .body
        ~ post.content
      .footer{:style=>"clear:both;"}
        %span.author
          Posted by
          %i.fa.fa-user
          = post.author
        %span.dateinline
          on
          %i.fa.fa-calendar
          #{post.date.strftime('%b %d, %Y')}
        %span.permalink
          |
          %i.fa.fa-link
          %a{:href=>post.url} permalink
        - if site.disqus
          %span.comments
            |
            %i.fa.fa-comments
            #{post.disqus_comments_link}
          = post.disqus_comments_count

%p{:style=>"padding-top: 20px;"}
  %a.btn.btn-primary.btn-lg{ :href=>"#{site.base_url}/news/" }
    More News
    %i.fa.fa-chevron-right.fa-lg
