---
---
%article.post
  %header.header
    %h2.title
      %a{:href=>page.post.url}= page.post.title
  .body
    ~ page.post.content
  .footer{:style=>"clear:both;"}
    %span.author
      Posted by
      = page.post.author
    %span.dateinline on #{page.post.date.strftime('%b %d, %Y')}
    %span.permalink
      |
      %i.icon-tag
      %a{:href=>page.post.url} permalink
    - if site.disqus
      %span.comments |#{page.post.disqus_comments_link}
  - if page.include_comments
    #comments
      - if site.disqus
        = page.post.disqus_comments
  - if (page.include_comments or page.include_comments_count) and site.disqus
    = page.parent.disqus_comments_count
