!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    - if page.title
      %title #{site.title} > #{page.title}
    - else
      %title #{site.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 120px;
      }
    %script{ :type=>'text/javascript', :src=>'https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js', :async => '', "data-ad-client" => "ca-pub-1034081480552496" }
    %link(rel='shortcut icon' type="image/png" href="/images/favicon.png")
    %link(rel='apple-touch-icon' type="image/png" href="/images/favicon.png")
    %link(rel='alternate' type='application/atom+xml' href='/news/atom.xml' title='dereel.com.au &raquo; Feed')
    %link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' integrity='sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==' crossorigin='anonymous')
    %link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700')
    %link(rel='stylesheet' type='text/css' href="/stylesheets/styles.css")
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    %nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top{:role => "navigation"}
      %a.navbar-brand{:href=>'/'}
        #{site.short_name}
      %button.navbar-toggler{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
        %span.navbar-toggler-icon
      .collapse.navbar-collapse
        .navbar-collapse.collapse
          %ul.navbar-nav.mr-auto
            %li.nav-item{:class=>('active' if page.url =~ /^\/news\//)}<
              %a.nav-link{ :href=>"/news/" } News
            %li.nav-item{:class=>('active' if page.url =~ /^\/about\//)}<
              %a.nav-link{ :href=>"/about/" } About Dereel
            %li.nav-item{:class=>('active' if page.url =~ /^\/community-information\//)}<
              %a.nav-link{ :href=>"/community-information/" } Community Information
            %li.nav-item{:class=>('active' if page.url =~ /^\/town-hall\//)}<
              %a.nav-link{ :href=>"/town-hall/" } Town Hall &amp; Community Centre
            %li.nav-item{:class=>('active' if page.url =~ /^\/source-code\//)}<
              %a.nav-link{ :href=>"/source-code/" } Source Code
            %li.nav-item
              %a.nav-link{ :href=>"/news/atom.xml", :title=>"rss feed" }
                %i.fa.fa-rss-square.fa-lg
    %section{:id => "megatron", "data-speed" => "3", "data-type" => "background"}
      .jumbotron
        .container
          %h1
            %a{:href=>"/"}= site.title
          %p #{site.tagline}
          %p
            %a.btn.btn-success.btn-lg{ :href=>"/about" }
              %i.fa.fa-info-circle.fa-lg
              About Dereel
              %i.fa.fa-chevron-right.fa-lg

    .container
      .row
        .col-md-8
          ~ content

          - if page.allow_comments
            #comments
            - if site.disqus
              = page.disqus_comments

        .col-md-4
          - if site.information
            %h4 Information
            %ul
              - site.information.sort_by(&:title).each do |info|
                %li
                  %a{:href=>info.url}= info.title

          %hr
          .recentcomments.dsq-widget
            %h4.dsq-widget-title Recent Comments
            %script{ :type=>'text/javascript', :src=>'//dereel.disqus.com/recent_comments_widget.js?num_items=7&hide_avatars=1&avatar_size=32&excerpt_length=100' }

          %hr
          - if site.links
            %h4 Local Links
            %ul
              - site.links.sort_by(&:title).each do |link|
                %li
                  %a{:href=>link.url}= link.title
      %hr
      %footer
        %p
          %small
            %i.fa.fa-bug
            %a{:href=>"https://github.com/dereel/dereel.com.au/issues/new?title=Bug+found+on+#{page.url}"} Submit a bug for this page
            |
            &copy; dereel.com.au #{Date.today.year}
            %img{:src=>'/images/aws_amplify_icon.png'}

    %script{ :type=>'text/javascript', :src=>"//codeorigin.jquery.com/jquery-1.11.0.min.js" }
    %script{ :type=>'text/javascript', :src=>"//stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" }
    %script{ :type=>'text/javascript', :src=>"/javascripts/site.js" }
    - if site.google_analytics
      = google_analytics_universal
