!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title #{site.title}
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 120px;
      }
    %link(rel='shortcut icon' type="image/png" href="/images/favicon.png")
    %link(rel='apple-touch-icon' type="image/png" href="/images/favicon.png")
    %link(rel='alternate' type='application/atom+xml' href='/news/atom.xml' title='dereel.com.au &raquo; Feed')
    %link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
    %link(rel='stylesheet' type='text/css' href="/stylesheets/styles.css")
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{ :href=>"/" } #{site.short_name}
          %button.navbar-toggle{:type => "button", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li{:class=>('active' if page.url =~ /^\/news\//)}<
              %a{ :href=>"/news/" } News
            %li{:class=>('active' if page.url =~ /^\/about\//)}<
              %a{ :href=>"/about/" } About Dereel
            %li{:class=>('active' if page.url =~ /^\/community-information\//)}<
              %a{ :href=>"/community-information/" } Community Information
            %li{:class=>('active' if page.url =~ /^\/town-hall\//)}<
              %a{ :href=>"/town-hall/" } Town Hall &amp; Community Centre
            %li{:class=>('active' if page.url =~ /^\/source-code\//)}<
              %a{ :href=>"/source-code/" } Source Code
    %section{:id => "megatron", "data-speed" => "3", "data-type" => "background"}
      .jumbotron
        .container
          %h1 
            %a{:href=>"/"}= site.title
          %p #{site.tagline}
          %p
            %a.btn.btn-success.btn-lg{ :href=>"/about" }
              %i.fa.fa-info-circle.fa-lg
              About Dereel
              %i.fa.fa-chevron-right.fa-lg

    .container
      .row
        .col-md-7.col-md-offset-1
          ~ content

          - if page.allow_comments
            #comments
            - if site.disqus
              = page.disqus_comments

        .col-md-3.col-md-offset-1
          - if site.information
            %h4 Information
            %ul
              - site.information.sort_by(&:title).each do |info|
                %li
                  %a{:href=>info.url}= info.title

          %hr
          .recentcomments.dsq-widget
            %h4.dsq-widget-title Recent Comments
            %script{ :type=>'text/javascript', :src=>'http://dereel.disqus.com/recent_comments_widget.js?num_items=7&hide_avatars=1&avatar_size=32&excerpt_length=100' }
            
          %hr
          - if site.links
            %h4 Local Links
            %ul
              - site.links.sort_by(&:title).each do |link|
                %li
                  %a{:href=>link.url}= link.title
      %hr
      %footer
        %p
          %small
            %i.fa.fa-bug
            %a{:href=>"https://github.com/scottweston/dereel/issues/new?title=Bug+found+on+#{page.url}"} Submit a bug for this page
            |
            &copy; dereel.com.au #{Date.today.year}

    %script{ :type=>'text/javascript', :src=>"//codeorigin.jquery.com/jquery-1.10.2.min.js" }
    %script{ :type=>'text/javascript', :src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js" }
    %script{ :type=>'text/javascript', :src=>"/javascripts/site.js" }
    - if site.google_analytics
      = google_analytics_async
